*{
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    scroll-behavior: smooth;
}
header{
  margin-top:22.5px;
  height:30px;
  margin-left:53px;
  margin-right:53px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.header-img{
  width:88.5px;
  height:24px;
}
.headerh61{
  margin-top:15px;
  color:#1F1F1F;
  width:31.5px;
  height:23.5px;
  font-size:11px;
  font-weight:bold;
  line-height:13.116px;
}
.headerh6{
  margin-top:15px;
  color:#545454;
  width:32.5px;
  height:23.5px;
  font-size:11px;
  font-weight:bold;
  line-height:13.116px;
}
.btn-1{
  border:none;
  background-color:#1F1F1F;
  color:white;
  width:88px;
  height:30px;
  border-radius:4px;
}
.btn-1:hover{
  background-color: #555555;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-2:hover{
  background-color: #555555;
  cursor: pointer;
  transition: background-color 0.3s;
}
.info-div2{
  position:relative;
  display:flex;
  justify-content: center;
  flex-direction:row;
}
.info{
  margin-top:119px;
  height:433px;
  margin-left:105px;
  margin-right:105px;
  
}
.info-h1{
  width:466px;
  height:80.5px;
  font-weight:500;
  font-size:66.5px;
}
.info-p{
  width:379.5px;
  height:84px;
  font-weight:500;
  font-size:16px;
  margin-top:20px;
}
.info-cont{
  display:flex;
  justify-content: space-between;
}
.info-nums{
  display:flex;
  width:349.5px;
  height:58px;
  margin-top:40px;
}
.info-h12{
  width:90px;
  font-weight:400;
  font-size:35px;
  margin:10px;
}
.info-span{
  width:90px;
  font-weight:400;
  font-size:11.5px;
}

.img-1{
  width:253.5px;
  height:214px;
  margin-right:2px;
}
.square{
  z-index:0;
  width:103px;
  height:93.5px;
  border: solid 2px #1F1F1F;
  margin-left:-350px;
  margin-top:210px;
  position:absolute;
  border-radius:4px;
}
.arrow{
  z-index:2;
  width:71.5px;
  height:71.5px;
  background-color:#1F1F1F;
  margin-right:-130px;
  margin-top:372px;
  position:absolute;
}
.img-2{
  z-index:1;
  width:253.5px;
  height:214px;
  margin-right:150px;
  margin-top:230px;
  position:absolute;
}
.btn-2{
  border:none;
  background-color:#1F1F1F;
  color:white;
  width:151px;
  height:43px;
  border-radius:4px;
  margin-top:40px;
}

.cards-info{
  height:176px;
  margin-left:105px;
  margin-right:105px;
  margin-top:70px;
}
.cards-h1{
  margin-top:15px;
  color:#1F1F1F;
  width:181px;
  height:35px;
  font-size:29px;
  font-weight:600;
  line-height:13.116px;
}
.card-h1{
  margin-top:30px;
  color:#1F1F1F;
  width:150px;
  height:18px;
  font-size:15px;
  font-weight:600;
  line-height:13.116px;
}
.card-p{
  margin-top:10px;
  color:#545454;
  width:179.5px;
  height:54px;
  font-size:13px;
  font-weight:500;
}
.cards{
  display:flex;
  justify-content: space-between;
}
.card:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.sec4{
  disply:flex;
  height:356px;
  margin-top:30px;
  margin-left:105px;
  margin-right:105px;
}


.container-sec {
    display: flex;
  justify-content: space-between;
    overflow: hidden;
    height:356px;
  margin-top:30px;
  margin-left:105px;
  margin-right:105px;
}



.image-section img {
    width:355.5px;
  height:355.5px;
    
}

.text-section h1 {
  width:352px;
  height:70px;
    font-size: 29px;
    margin-bottom: 10px;
    color: #1F1F1F;
}

.text-section p {
  width:361px;
  height:60px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #545454;
}

.services {
    margin-bottom: 70px;
}

.service-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    font-size: 12px;
    color: #1F1F1F;
    font-weight:600;
}

.learn-more {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.learn-more:hover {
    background-color: #555555;
}





.container-2 {
    display: flex;
  justify-content: space-between;
  height:434px;
  margin-left:105px;
  margin-right:105px;
  margin-top:40px;
}


.text-section-2 h1 {
    margin-bottom: 20px;
    font-size: 29px;
   width:353px;
  height:70px;
  font-weight:600;
    color: #1F1F1F;
}

.step-2 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.icon-2 {
    font-size: 36px;
    margin-right: 20px;
  
}

.content-2 h2 {
    margin: 0;
    font-size: 15px;
   width:93px;
  height:18px;
  font-weight:700;
    color: #1F1F1F;
}

.content-2 p {
    margin-bottom:20px;
  margin-top:5px;
    width:284.5px;
  height:60px;
  font-weight:500;
    color: #545454;
}


.image-section-2 img {
    width: 348.94px;
    height: 425.5px;
    object-fit: cover;
}


.test-sec{
  margin-top:100px;
  margin-bottom:100px;
  height:409px;
}

.letter-sec{
  text-align: center;
  margin-left:35%;
  width:489.5px;
  height:245px;
}
.letter-h1{
  margin-left:32.5px;
  width:424.5px;
  height:70px;
  font-weight:600;
  font-size:29px;
  color:#1F1F1F;
}
.letter-p{
  margin-top:20px;
  margin-left:58.5px;
  width:385px;
  height:40px;
  font-weight:500;
  font-size:12px;
  color:#545454;
}

input[type="email"] {
    width:340px;
    height:52px;
  margin-right:0;
  margin-bottom:0;
  padding:0;
    background-color: #FFFFFF;
  border:#00000024 1px solid;
    color:white;
    border-radius: 4px;
}
.btn-4 {
  margin-right:0;
  margin-bottom:0;
  padding:0;
  width:137.5px;
  height:50px;
    background-color: #1F1F1F;
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-4:hover {
  background-color: #555555;
  cursor: pointer;
  transition: background-color 0.3s;
}

.img-1:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.img-2:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.img-3:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.img-4:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

footer{
  height:321px;
  background-color:black;
  color:white;
  display:flex;
  justify-content: space-between;
  text-align: center;
  padding-left:105px;
  padding-right:105px;
  color:white;
}



.footer-div2{
  text-align: center;
}
.footer-h1{
  height:14.5px;
  font-weight:600;
  font-size:12px;
  margin-top:60px;
}
.footer-p{
  width:123px;
  height:13.5px;
  font-weight:500;
  font-size:11px;
  color:#D1D1D1;
  margin-top:20px;
}
.footer-pp{
  text-align: left;
  width:161px;
  height:49.5px;
  font-weight:500;
  font-size:11px;
  color:#D1D1D1;
  margin-top:20px;
}
.footer-hh{
  text-align: left;
  height:14.5px;
  font-weight:600;
  font-size:12px;
  margin-top:60px;
}
.footer-icon{
  width:120px;
  margin-top:20px;
  display:flex;
 text-align: center;
  justify-content: space-between;
}
.test-sec{
  display:flex;
  justify-content:space-between;
  position:relative;
  height:414px;
  margin-left:105px;
  margin-right:105px;
}
.test-img{
  width:355.5px;
  height:355.5px
}
.test-h1{
  width:352px;
  height:70px;
  font-weight:600;
  font-size:26px;
}
.black-card{
  margin-top:40px;
  padding:30px;
  width:300px;
  height:300px;
  border-radius:4px;
  background-color:#1F1F1F;
}
.black-card:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.black-card2:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.black-card2{
  position:absolute;
  margin-left:130px;
  margin-top:-250px;
  padding:30px;
  width:300px;
  height:300px;
  border-radius:4px;
  background-color:#1F1F1F;
}
.test-p{
  color:white;
  margin-top:40px;
  width:250px;
  height:80px;
  font-weight:500;
  font-size:16px;
}
.test-img2{
  margin-top:40px;
  width:36px;
  height:36px;
}
.img-cont{
  display:flex;
}
.test-h2{
  width:355.5px;
  height:355.5px
}
.test-h2{
  margin-top:40px;
  width:120px;
  margin-left:10px;
  font-weight:600;
  color:white;
  font-size:16px;
}
.test-span{
  margin-top:40px;
  font-weight:600;
  font-size:12px;
  color:#929292;
}
